---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}"/>
    <link href="../m.css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="../favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<nav>
    <a href="/">Home</a> /
    <a rel="nofollow" href="{{site.github}}">GitHub</a> /
    <a href="projects.html">Projects</a> /
    <a href="resume.html">Resume</a> /
    <a rel="nofollow" href="{{site.linkedin}}">LinkedIn</a>
</nav>
<main>
{{content}}
</main>
</body>
</html>
